@font-face {
  font-family: 'Pacifico';
  src: url('../fonts/pacifico.eot');
  src: url('../fonts/pacifico.woff') format('woff'),
       url('../fonts/pacifico.ttf') format('truetype')
}
.cm-s-default {
    width: 430px;
}
h1 {
	font-family: 'Pacifico';
}
.toolbar {
    margin-top: -25px;
    height: 60px;
    padding-top: 20px;
}
.header {
    position: absolute;
    right: 100px;
    top: -5px;
}
.widget {
    cursor:move;
}
.label {
    font-family: Pacifico !important;
}
.draggable {
  border: 3px solid yellow;
}
#cypher-drag {
    position: absolute;
    left: 15px;
    top: 24px;
    font-size: 20px;
}
#cypher-query {
	position: absolute;
    min-height: 73px;
    min-width: 400px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);
    padding: 10px;
    left: 20px;
    top: 17px;
    color: white;
}

#cypher-query > .options {
    color: white;
}
#graph-options {
	position: absolute;
    min-height: 73px;
    width: 440px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);
    padding: 10px;
    right: 10px;
    top: 140px;
    color: white;	
}
.code {
	padding: 5px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 6px;
    color: black;
    width: 420px;
}
.swap-btn {
	font-size: 20px;
    background-color: transparent;
    border: none;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
}
.fork-ribbon-wrapper {
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  display: inline-block;
  cursor: move;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
  z-index: 9999;
}
.fork-ribbon-wrapper .fork-ribbon-border {
  width: 120px;
  height: 55px;
  position: absolute;
  top: -50px;
  left: -10px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}
.fork-ribbon-wrapper .fork-ribbon-container {
  position: relative;
  box-sizing: border-box;
  transition: top 1s ease 0s;
  top: -65px;
  margin: 0 10px;
  height: 110px;
  width: 82px;
}
.fork-ribbon-wrapper .fork-ribbon-container:hover {
  transition: top 1s ease 0s;
  top: 0;
}
.fork-ribbon-wrapper .fork-ribbon {
  box-sizing: border-box;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  width: 80px;
  height: 70px;
}
.fork-ribbon-wrapper .fork-ribbon:after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 80px;
  top: 70px;
  padding: 0;
}
.fork-ribbon-wrapper .fork-ribbon .fork-ribbon-content {
  text-align: center;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
}
.fork-ribbon-wrapper .fork-ribbon .fork-ribbon-content i {
  font-size: 1.5rem;
  margin: 5px 0;
}
.fork-ribbon-wrapper .fork-ribbon .fork-ribbon-content a {
  position: relative;
  z-index: 2;
  font-size: .75rem;
  line-height: .75rem;
  margin-top: -5px;
  display: block;
  cursor: pointer;
  text-decoration: none;
}
.fork-ribbon-wrapper .fork-ribbon .fork-ribbon-content:before,
.fork-ribbon-wrapper .fork-ribbon .fork-ribbon-content:after {
  content: '';
  position: absolute;
  top: 0;
  width: 72px;
  height: 102px;
  z-index: 1;
}
.fork-ribbon-wrapper .fork-ribbon .fork-ribbon-content:before,
.fork-ribbon-wrapper .fork-ribbon .fork-ribbon-content:after {
  border-left-width: 1px;
  border-left-style: dashed;
  border-right-width: 1px;
  border-right-style: dashed;
}
.fork-ribbon-wrapper .fork-ribbon .fork-ribbon-content:before {
  left: 3px;
}
.fork-ribbon-wrapper .fork-ribbon .fork-ribbon-content:after {
  left: 4px;
}
.fork-ribbon-wrapper.fixed {
  position: fixed;
}
.fork-ribbon-wrapper.red {
    top: 0px;
    left: 50%;
}
.fork-ribbon-wrapper.red .fork-ribbon-container {
  border-left: 1px solid #da5050;
  border-right: 1px solid #da5050;
}
.fork-ribbon-wrapper.red .fork-ribbon {
  background: #c73b3c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
}
.fork-ribbon-wrapper.red .fork-ribbon:after {
  border: 40px solid #a93233;
  border-top-width: 0;
  border-bottom-color: transparent;
}
.fork-ribbon-wrapper.red .fork-ribbon .fork-ribbon-content a {
  color: #efefef;
}
.fork-ribbon-wrapper.red .fork-ribbon .fork-ribbon-content a:hover {
  color: #fff;
}
.fork-ribbon-wrapper.red .fork-ribbon .fork-ribbon-content:before {
  border-left-color: #631a15;
  border-right-color: #631a15;
}
.fork-ribbon-wrapper.red .fork-ribbon .fork-ribbon-content:after {
  border-left-color: #da5050;
  border-right-color: #da5050;
}
.fork-ribbon-wrapper.green {
  top: 10px;
  right: 40%;
}
.fork-ribbon-wrapper.green .fork-ribbon-container {
  border-left: 1px solid #50cc50;
  border-right: 1px solid #50cc50;
}
.fork-ribbon-wrapper.green .fork-ribbon {
  background: #007200;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
}
.fork-ribbon-wrapper.green .fork-ribbon:after {
  border: 40px solid #006100;
  border-top-width: 0;
  border-bottom-color: transparent;
}
.fork-ribbon-wrapper.green .fork-ribbon .fork-ribbon-content a {
  color: #fff;
}
.fork-ribbon-wrapper.green .fork-ribbon .fork-ribbon-content a:hover {
  color: #ffc;
}
.fork-ribbon-wrapper.green .fork-ribbon .fork-ribbon-content:before {
  border-left-color: #004400;
  border-right-color: #004400;
}
.fork-ribbon-wrapper.green .fork-ribbon .fork-ribbon-content:after {
  border-left-color: #50CC50;
  border-right-color: #50CC50;
}

